---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import ComponentLayout from "../../layouts/partials/ComponentPartial.astro";
import { UIPortalInpageNav } from "../../components/ui-portal-inpage-nav.js";

export async function getStaticPaths() {
  const compEntries = await getCollection("component");
  return compEntries.map((entry) => ({
    params: { component: entry.data.name },
    props: { entry },
  }));
}

const demoEntries = await getCollection("demo");
const currentComponentData = Astro.props.entry.data;

const demos = demoEntries.filter(
  (entry) => entry.data.component === currentComponentData.name
);

// TODO: refactor to make more readable/generic

const getAnchorTitle = (rawTitle) => {
  return rawTitle.split(/\s/g).join("-").toLowerCase();
};

const demosForCurrentComponent = [];
for (const demo of demos) {
  const demoWithContent = { ...demo, _rendered: await demo.render() };
  demosForCurrentComponent.push(demoWithContent);
}

const inPageNavData = [
  {
    name: currentComponentData.name,
    url: getAnchorTitle(currentComponentData.name),
  },
  {
    name: "Examples",
    url: "#examples",
    children: demosForCurrentComponent.map((entry) => ({
      name: entry.data.title,
      url: `#${getAnchorTitle(entry.data.title)}`,
    })),
  },
];

// 1. add description
// 2. add modifier/configurator demo
// 3. add api table:
//   - slots
//   - props/attrs
//   - events
//   - methods
//   - parts
// 4. examples (link api table as well)
// 5. extensions
// 6. rationale
// 7. component context (fit in architecture/relationship to other components and systems)
// 8. resources

const { entry, frontmatter } = Astro.props;
// const { Content } = await entry.render();
---

<MainLayout title={entry.slug}>
  <ComponentLayout frontmatter={entry.data}>
    <UIPortalInpageNav nav-data={JSON.stringify(inPageNavData)} />
    <h1 id={getAnchorTitle(currentComponentData.name)}>
      {currentComponentData.name}
    </h1>
    <p>{currentComponentData.description}</p>

    {
      demosForCurrentComponent.map((demo) => (
        <article>
          <h2 id={getAnchorTitle(demo.data.title)}>{demo.data.title}</h2>
          <p>{demo.data.description}</p>
          <demo._rendered.Content />
        </article>
      ))
    }
  </ComponentLayout>
</MainLayout>
