---
import './debug-setup.js';
import { getCollection } from "astro:content";
import { SEO } from "astro-seo";
import { UIPortalFooter } from "../components/ui-portal-footer.js";
import { UIMainNav } from "../components/UIMainNav/ui-main-nav.js";
import { updateNavData } from "../components/UIMainNav/updateNavData.js";

const site = Astro.site || Astro.url.origin;
const canonicalURL = new URL(Astro.url.pathname, site).toString();
const resolvedImageWithDomain = new URL("/opengraph.jpg", site).toString();
const { title } = Astro.props;

const compEntries = await getCollection("component");
const compNames = compEntries.map((entry) => entry.data.name);

 /** @type {NavItem[]} */
let navData = {
  // this is inital setup is optimized for desktop. Notice that it will be false for mobile
  // Also notice this automatically implies that the content is automatically shown and the invoker is invisible
  hideToggle: true,
  items:[
  { name: "home", url: "/", iconId: 'lion:portal:home', iconActiveId: 'lion:portal:homeFilled' },
  {
    name: "components",
    // url: "/components",
    iconId: 'lion:portal:deployedCode',
    iconActiveId: 'lion:portal:deployedCodeFilled',
    nextLevel: {
      showVia: 'popover', // or disclosure, or none (heading)
      // initialOpen: true,
      items: [
        { name: 'overview', url: "/components" },
        ...compNames.map((compName) => ({
          name: compName,
          url: `/components/${compName}`,
        })),
        // {
        //   name: 'zomezing', 
        //   nextLevel: { showVia: 'disclosure', items: [{name: 'smth', url: `/components/zomezing/smth`}], }
        // } ,
      ],
    }
  },
  // {
  //   name: "components1",
  //   // url: "/components1",
  //   iconId: 'lion:portal:deployedCode',
  //   iconActiveId: 'lion:portal:deployedCodeFilled',
  //   nextLevel: {
  //     items: [
  //       { name: 'overview1', url: "/components1" },
  //       ...compNames.map((compName) => ({
  //         name: compName + '1',
  //         url: `/components1/${compName}`,
  //       }))
  //     ],
  //   }
  // },  
  { name: "develop", url: "/develop", iconId: 'lion:portal:sdk', iconActiveId: 'lion:portal:sdkFilled' },
  { name: "design", url: "/design", iconId: 'lion:portal:stylusNote', iconActiveId: 'lion:portal:stylusNoteFilled'  },
  { name: "extend", url: "/extend", iconId: 'lion:portal:deployedCodeAccount', iconActiveId: 'lion:portal:deployedCodeAccountFilled'  },
  { name: "blog", url: "/blog", iconId: 'lion:portal:newsmode', iconActiveId: 'lion:portal:newsmodeFilled'},
  ]};


// navData = { items: [{ name: 'home', url: '/' }] };

updateNavData(navData,  { activePath: Astro.url.pathname });


const footerData = [
  {
    name: "discover",
    items: [
      {
        name: "blog",
        url: "/blog",
      },
      {
        name: "help and feedback",
        url: "https://github.com/ing-bank/lion/issues",
      },
    ],
  },
  {
    name: "follow",
    children: [
      {
        name: "github",
        url: "https://github.com/ing-bank/lion",
      },
      {
        name: "slack",
        url: "/about/slack/",
      },
    ],
  },
  {
    name: "support",
    children: [
      {
        name: "contribute",
        url: "https://github.com/ing-bank/lion/blob/master/CONTRIBUTING.md",
      },
    ],
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link href="/styles/open-props@1.6.11.min.css" rel="stylesheet" type="text/css">
    <link href="/styles/global.css" rel="stylesheet" type="text/css">

    <!-- <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />


    <style>
      body {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
      }
    </style> -->

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={title}
      description="High quality UI web components"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "Lion",
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Lion Homepage screen",
        },
      }}
    />
  </head>
  <body class="ui-portal-grid">
    <div class="ui-portal-grid__nav">
      <UIMainNav client:load nav-data={JSON.stringify(navData)} />
    </div>
    <main class="ui-portal-grid__main">
      <div class="ui-portal-container">
        <slot />
      </div>
    </main>
    <div class="ui-portal-grid__footer">
      <UIPortalFooter footer-data={JSON.stringify(footerData)} />
    </div>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      .ui-portal-grid {
        display: grid;
        grid-template-columns: min-content 1fr;
        /* grid-template-rows: 80vh 20vh; */
        grid-template-areas:
          "nav main"
          "nav footer";
      }

      .ui-portal-grid__nav {
        grid-area: nav;
      }

      .ui-portal-grid__main {
        grid-area: main;
      }

      .ui-portal-grid__footer {
        grid-area: footer;
      }

      .ui-portal-collection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
      }

      .ui-portal-card {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 0.5rem;
      }

      .ui-portal-container {
        padding: var(--size-6);
      }
    </style>
  </body>
</html>
../components/UIMainNav/ui-main-nav.js../components/UIMainNav/updateNavData.js