---
import { getCollection } from "astro:content";
import { SEO } from "astro-seo";
import { UIMainNav, UIPageLayout } from '@portal-provide-design/provide-designs-and-export-components--side-effectful.js';
import HeadPartial from '@portal-provide-design/head-partial.astro';
import { UIPortalFooterContent } from "../components/UIPortalFooterContent/ui-portal-footer-content.js";
import { updateNavData } from "../components/UIMainNav/updateNavData.js";


const site = Astro.site || Astro.url.origin;
const canonicalURL = new URL(Astro.url.pathname, site).toString();
const resolvedImageWithDomain = new URL("/opengraph.jpg", site).toString();
const { title } = Astro.props;

const compEntries = await getCollection("component");
const compNames = compEntries.map((entry) => entry.data.name);

import { type NavLevel } from "../components/UIMainNav/UIMainNav.types.js";

 /** @type {NavLevel} */
const navData = {
  // this is inital setup is optimized for desktop. Notice that it will be false for mobile
  // Also notice this automatically implies that the content is automatically shown and the invoker is invisible
  hideToggle: true,
  items:[
  { name: "home", url: "/", iconId: 'lion:portal:home', iconActiveId: 'lion:portal:homeFilled' },
  {
    name: "components",
    // url: "/components",
    iconId: 'lion:portal:deployedCode',
    iconActiveId: 'lion:portal:deployedCodeFilled',
    nextLevel:  /** @type {NavLevel} */ ({
      showVia: 'popover', // or disclosure, or none (heading)
      // initialOpen: true,
      items: [
        { name: 'overview', url: "/components" },
        ...compNames.map((compName) => ({
          name: compName,
          url: `/components/${compName}`,
        })),
        ...compNames.map((compName) => ({
          name: compName + '1',
          url: `/components/${compName}1`,
        })),
        ...compNames.map((compName) => ({
          name: compName + '2',
          url: `/components/${compName}2`,
        })),
        // {
        //   name: 'zomezing', 
        //   nextLevel: { showVia: 'disclosure', items: [{name: 'smth', url: `/components/zomezing/smth`}], }
        // } ,
      ],
    })
  },
  // {
  //   name: "components1",
  //   // url: "/components1",
  //   iconId: 'lion:portal:deployedCode',
  //   iconActiveId: 'lion:portal:deployedCodeFilled',
  //   nextLevel: {
  //     items: [
  //       { name: 'overview1', url: "/components1" },
  //       ...compNames.map((compName) => ({
  //         name: compName + '1',
  //         url: `/components1/${compName}`,
  //       }))
  //     ],
  //   }
  // },  
  { name: "develop", url: "/develop", iconId: 'lion:portal:sdk', iconActiveId: 'lion:portal:sdkFilled' },
  { name: "design", url: "/design", iconId: 'lion:portal:stylusNote', iconActiveId: 'lion:portal:stylusNoteFilled'  },
  { name: "extend", url: "/extend", iconId: 'lion:portal:deployedCodeAccount', iconActiveId: 'lion:portal:deployedCodeAccountFilled'  },
  { name: "blog", url: "/blog", iconId: 'lion:portal:newsmode', iconActiveId: 'lion:portal:newsmodeFilled'},
  ]};

// Make sure to update the activePath
updateNavData(navData,  { activePath: Astro.url.pathname });


const footerData = [
  {
    name: "discover",
    items: [
      {
        name: "blog",
        url: "/blog",
      },
      {
        name: "help and feedback",
        url: "https://github.com/ing-bank/lion/issues",
      },
    ],
  },
  {
    name: "follow",
    children: [
      {
        name: "github",
        url: "https://github.com/ing-bank/lion",
      },
      {
        name: "slack",
        url: "/about/slack/",
      },
    ],
  },
  {
    name: "support",
    children: [
      {
        name: "contribute",
        url: "https://github.com/ing-bank/lion/blob/master/CONTRIBUTING.md",
      },
    ],
  },
];
---



<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <script>
      import './demo-switcher.js';
    </script> -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link href="/styles/open-props@1.6.11.min.css" rel="stylesheet" type="text/css">
    <link href="/styles/global.css" rel="stylesheet" type="text/css"> -->

    <HeadPartial/>

    <!-- <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />


    <style>
      body {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
      }
    </style> -->

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={title}
      description="High quality UI web components"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "Lion",
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Lion Homepage screen",
        },
      }}
    />
  </head>

  <body>
    
    <!-- <demo-switcher active-set="lionportal"></demo-switcher> -->

    <UIPageLayout  client:load>
      <slot name="aside" slot="aside" />
      <UIMainNav client:load slot="main-nav" nav-data={JSON.stringify(navData)}>
        <a href="/" slot="l0-after">lion portal</a>
      </UIMainNav>
      <slot />
      <UIPortalFooterContent client:load slot="footer" footer-data={JSON.stringify(footerData)} />
    </UIPageLayout>
  </body>

</html>
